<div class="inner-content">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="dashboard-filter">
            <div class="filter-grid" [formGroup]="searchGasForm">
                <div class="filter-select-dropdown filter-fields-width">

                    <nz-form-item>
                        <nz-form-label nzFor="gender">Brand</nz-form-label>
                        <nz-form-control nzErrorTip="This Input Is Required!">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Brand" formControlName="brand" (ngModelChange)="searchGas()">
                                <nz-option *ngFor="let brand of listOfBrands" nzLabel={{brand}}
                                    nzValue={{brand}}></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzFor="studentClass">Type</nz-form-label>
                        <nz-form-control nzErrorTip="This Input Is Required! ">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Type" formControlName="type" (ngModelChange)="searchGas()">
                                <nz-option *ngFor="let type of listOfType" nzLabel={{type}}
                                    nzValue={{type}}></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>
            </div>
        </div>
    </nz-spin>
</div>

<div style="min-height: 91vh; background-color: #f8f8f8;">
    <div style="padding-bottom: 30px; margin-bottom: 21px;" class="child" *ngFor="let gas of gas">
        <div nz-row>
            <div nz-col nzSpan="8">
              <img class="profile"
              style="height: 130px; width: 200px; border-radius: 10px;"
              [src]="gas.processedImg ? gas.processedImg : 'assets/images/default-gas.png'"
              alt="gas image"/>
            </div>
            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #108ee9;">
                    {{gas.brand}}</h2>
                <p>{{gas.description}}</p>

                <hr>
                <h5>Price: <b>{{gas.price}}MAD</b> - Quantity:
                    <b>{{gas.quantity}}</b> - Type: <b>{{gas.type}}</b>
                </h5>
                <hr>
                <div style="float: right;">
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" routerLink="/admin/post/gas/{{gas.id}}"
                    >Update</button>
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" (click)="deleteGas(gas.id)"
                    nzDanger>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
