<div style="background-color: #f8f8f8; min-height: 91vh;">
    <div style="padding-top: 10px;"></div>
    <div style="margin-top: 10px;" class="child" *ngFor="let Gas of Gas">
        <div nz-row>
            <div nz-col nzSpan="8">
                <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;" [src]="Gas.processedImg" alt="profile"/>
            </div>
            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #108ee9;">
                {{Gas.brand}}</h2>
                <p>{{Gas.description}}</p>
                <hr>
                <h5>Price: <b>{{Gas.price}}MAD</b>  - Quantity:
                    <b>{{Gas.quantity}}</b> - Type: <b>{{Gas.type}}</b>
                </h5>
                <hr>
                <div style="float: right;">
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" routerLink="/admin/post/gas/{{Gas.id}}"
                    >Update</button>
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" (click)="deleteGas(Gas.id)"
                    nzDanger>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
